<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #produce {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        #produce td, #produce th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        
        #produce tr:nth-child(even){background-color: #f2f2f2;}
        
        #produce tr:hover {background-color: #ddd;}
        
        #produce th {
          padding-top: 12px;
          padding-bottom: 12px;
          padding-right: 12px;
          text-align: left;
          background-color: #35e0e0;
          color: white;
        }
        </style>
    <title><%= title %></title>
</head> 