<!DOCTYPE html>
<html>
<body>

<h2>Add Movie Form</h2>

<form action="/movies/add" method="POST">
    <label>Name</label><br>
    <input type="text" name="name" placeholder="e.g: 12 Angry Men"><br><br>
    <label>Released Year</label><br>
    <input type="text" name="released_year" placeholder="e.g: 1957"><br><br>
    <label>Genre</label><br>
    <select name="genre">
      <option value="">---Select---	</option>
      <option value="animation">animation</option>
      <option value="comedy">comedy</option>
      <option value="drama">drama</option>
      <option value="horror">horror</option>
      <option value="religious">religious</option>
      <option value="thriller">thriller</option>
    </select><br><br> 
    <label>Production House</label><br>
    <select name="ProductionHouse">
        <option value="">---Select---</option>
        <% for (let i = 0; i < data.length; i++) { %>
            <option value="<%= data[i].id %>"><%= data[i].name%></option>
        <% } %>
      </select> 
    <br><br>
    <input type="submit" value="Save">
    <input type="reset" value="Cancel">
</form> 
</body>
</html>